@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <h2>Create a new account.</h2>
    <hr />
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <h3>Personal Information</h3>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.FirstName" class="form-control" autocomplete="first-name" aria-required="true" />
                    <label asp-for="Input.FirstName"></label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.LastName" class="form-control" autocomplete="last-name" aria-required="true" />
                    <label asp-for="Input.LastName"></label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.DateOfBirth" class="form-control" autocomplete="date-of-birth" aria-required="true" />
                    <label asp-for="Input.DateOfBirth"></label>
                    <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Oib" class="form-control" autocomplete="date-of-birth" aria-required="true" />
                    <label asp-for="Input.Oib"></label>
                    <span asp-validation-for="Input.Oib" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.IdCardNumber" class="form-control" autocomplete="date-of-birth" aria-required="true" />
                    <label asp-for="Input.IdCardNumber"></label>
                    <span asp-validation-for="Input.IdCardNumber" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.Photo"></label>
                    <img id="photo" class="img-thumbnail d-block" src="...">
                    <input asp-for="Input.Photo" class="form-control" type="file" accept=".png,.jpg,.jpeg,.gif,.tif"
                        onchange="document.getElementById('photo').src = window.URL.createObjectURL(this.files[0])" />
                    <span asp-validation-for="Input.Photo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Login Details</h3>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-3">Register</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
